alabaster==0.7.12
asgiref==3.4.1
Babel==2.9.1
bootstrap-py==1.0.2
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.1
colorama==0.4.4
cycler==0.10.0
defusedxml==0.7.1
Django==3.2.5
docutils==0.17.1
Flask==2.0.1
gitdb==4.0.9
GitPython==3.1.26
gunicorn==20.1.0
idna==3.3
imageio==2.13.5
imagesize==1.3.0
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
kiwisolver==1.3.1
MarkupSafe==2.0.1
matplotlib==3.4.2
networkx==2.6.3
numpy==1.21.0
opencv-python==4.5.3.56
packaging==21.3
pguard==0.4.0
Pillow==8.4.0
Pygments==2.11.2
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.1
PyWavelets==1.2.0
requests==2.27.1
scikit-image==0.19.1
scikit-learn==0.24.2
scipy==1.7.0
six==1.16.0
sklearn==0.0
smmap==5.0.0
snowballstemmer==2.2.0
SpeechRecognition==3.8.1
Sphinx==4.3.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.1
threadpoolctl==2.2.0
tifffile==2021.11.2
urllib3==1.26.8
Werkzeug==2.0.1
PS C:\Users\asus\Mac> git add requirements.txt
fatal: pathspec 'requirements.txt' did not match any files
PS C:\Users\asus\Mac> git add requirements.txt
fatal: pathspec 'requirements.txt' did not match any files
PS C:\Users\asus\Mac> pip freeze requirements.txt
alabaster==0.7.12
asgiref==3.4.1
Babel==2.9.1
bootstrap-py==1.0.2
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.1
colorama==0.4.4
cycler==0.10.0
defusedxml==0.7.1
Django==3.2.5
docutils==0.17.1
Flask==2.0.1
gitdb==4.0.9
GitPython==3.1.26
gunicorn==20.1.0
idna==3.3
imageio==2.13.5
imagesize==1.3.0
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
kiwisolver==1.3.1
MarkupSafe==2.0.1
matplotlib==3.4.2
networkx==2.6.3
numpy==1.21.0
opencv-python==4.5.3.56
packaging==21.3
pguard==0.4.0
Pillow==8.4.0
Pygments==2.11.2
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.1
PyWavelets==1.2.0
requests==2.27.1
scikit-image==0.19.1
scikit-learn==0.24.2
scipy==1.7.0
six==1.16.0
sklearn==0.0
smmap==5.0.0
snowballstemmer==2.2.0
SpeechRecognition==3.8.1
Sphinx==4.3.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.1
threadpoolctl==2.2.0
tifffile==2021.11.2
urllib3==1.26.8
Werkzeug==2.0.1
PS C:\Users\asus\Mac> git add requirements.txt   
fatal: pathspec 'requirements.txt' did not match any files
PS C:\Users\asus\Mac> pip freeze requirementss.txt
alabaster==0.7.12
asgiref==3.4.1
Babel==2.9.1
bootstrap-py==1.0.2
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.1
colorama==0.4.4
cycler==0.10.0
defusedxml==0.7.1
Django==3.2.5
docutils==0.17.1
Flask==2.0.1
gitdb==4.0.9
GitPython==3.1.26
gunicorn==20.1.0
idna==3.3
imageio==2.13.5
imagesize==1.3.0
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
kiwisolver==1.3.1
MarkupSafe==2.0.1
matplotlib==3.4.2
networkx==2.6.3
numpy==1.21.0
opencv-python==4.5.3.56
packaging==21.3
pguard==0.4.0
Pillow==8.4.0
Pygments==2.11.2
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.1
PyWavelets==1.2.0
requests==2.27.1
scikit-image==0.19.1
scikit-learn==0.24.2
scipy==1.7.0
six==1.16.0
sklearn==0.0
smmap==5.0.0
snowballstemmer==2.2.0
SpeechRecognition==3.8.1
Sphinx==4.3.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.1
threadpoolctl==2.2.0
tifffile==2021.11.2
urllib3==1.26.8
Werkzeug==2.0.1